doctype
html(lang="ko-KR")
  head
    include head
	script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
	script.
	  (adsbygoogle = window.adsbygoogle || []).push({
	  google_ad_client: "ca-pub-4757470547942504",
	  enable_page_level_ads: true
	  });

  body
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('js/jquery.js'))
    script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
    script(src= url_for('js/jquery.appear.js'))
