extends partial/layout

block site_title
    !=  "아카이브 • " + config.title

block description
    - var desc = '아카이브 - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
      .archive.animated.fadeInDown
        ul.list-with-title
          include mixins
          +postList()
          +make_pager(__('prev'), __('next'))
